<div class="content" role="main">

  <div class="tooldiv" role="banner">
    <a href="http://localhost:4200/parking">
      <img width="30" alt="Back Button"
        src="https://raw.githubusercontent.com/dani09barreto/QuickParked/main/QuickParked/src/main/resources/org/devscite/Interface/View/img/back-button.png" />
    </a>
  </div>
  <div class="tooldivTitulo" role="banner">
    <h5 style="margin-left: 20px;">Modificar Vehiculo</h5>
  </div>

  <div>
    <form action="">
      <div class="card-header">
        <h4>Placa</h4>
      </div>
      <div class="form-group">
        <table class="table table-hover" style="margin-top: -20px;">
          <thead>
            <tr>
              <th>
                <input name="placa" type="text" class="form-control" style="border-radius: 35px; font-size: 12px;"
                  [formControl]="plateVehicle" placeholder="Digite Placa">
                <div class="input-group-addon">
                  <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
              </th>
              <th>

                <div class="tooldivSearch" role="banner">
                  <a>
                    <div>
                      <button (click)="searchPlate()" class="btn"
                        style="margin-top:10px; background-color: #0000 ; border-color: #0000; border-radius: 25px;">

                        <img width="20" style="margin-left:-4px ; margin-bottom: 10px;" alt="Back Button"
                          src="https://raw.githubusercontent.com/dani09barreto/QuickParked/main/QuickParked/src/main/resources/org/devscite/Interface/View/img/search.png" />

                      </button>
                    </div>

                  </a>
                </div>

              </th>
            </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>

  <hr size="4px" width="425" color="#1190cb">
  <div class="tooldivTitulo2" role="banner">
    <h5 style="margin-left: 35px;">Información de Vehículo</h5>
  </div>

  <div>
    <form action="">
      <div class="form-group">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <label style="margin-left: 160px;">
                  <h5></h5>
                </label>
              </th>
              <th>
                <label>
                  <h6></h6>
                </label>
              </th>
            </tr>
            <tr>
              <th>
                <label>
                  <h5>Placa Vehículo</h5>
                </label>
              </th>
              <th>
                <label>
                  <h6>{{vehicle.licenceplate}}</h6>
                </label>
              </th>
              <th>
                <label>
                  <input  name="nuevaPlaca" type="text" class="form-control" style="border-radius: 35px; font-size: 12px;"
                  [formControl]="newPlateVehicle" placeholder="Placa">
                </label>
              </th>
            </tr>
            <tr>
              <th>
                <label>
                  <h5>Tipo Vehículo</h5>
                </label>
              </th>
              <th>
                <label>
                  <h6>{{vehicle.typevehicle.typevehicle}}</h6>
                </label>
              </th>
              <th>
                <div style="margin-bottom: 4%; margin-top: 4%; margin-left: 7%;">
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" (change)="changeTypeVehicle($event)">
                    <option value="">Tipo Vehiculo</option>
                    <option [value]="typevehicle.typevehicle" *ngFor="let typevehicle of typeVehicles">{{typevehicle.typevehicle}}</option>
                  </select>
              </div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>





  <hr size="4px" width="425" color="#1190cb">

  <div>
    <form action="">
      <div class="form-group">
        <table class="table table-hover" style="margin-top: -20px;">
          <thead>
            <tr>
              <th>
                <div class="input-group-addon">
                  <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
              </th>
              <th>
                <div class="tooldivPagarButton" role="banner">
                  <button (click)="UpdateVehicle()" class="btn btn-danger"
                    style="margin-top:10px; background-color: #1190cb ; border-color: #0000; border-radius: 35px; margin-bottom: 20px; margin-top: 20px;">Modificar</button>
                </div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>
  <!-- <input [(ngModel)]="libro.nombre" name="nombre" type="text" class="form-control"> -->
  <!-- Resources -->
</div>
