<div class="content" role="main">

  <!-- Highlight Card -->
  <div>

  <img
    width="350"
    alt="QuickParked Logo"
    src="https://raw.githubusercontent.com/dani09barreto/QuickParked/main/QuickParked/src/main/resources/org/devscite/Interface/View/img/logo.png"
    />

 </div>

<div>
  <form action="">
    <div class="form-group">
      <h6>Usuario</h6>
      <input [(ngModel)]="_user" name="user" type="text" class="form-control" style="border-radius: 35px;" [formControl] = "userField">
      <h6>Contraseña</h6>
      <input [(ngModel)]="_pass" name="pass" type="password" class="form-control password" style="border-radius: 35px;" [formControl] = "passField">
      <div class="input-group-addon">
        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
      </div>
      <!-- <input [(ngModel)]="libro.nombre" name="nombre" type="text" class="form-control"> -->
    </div>
    <div style= "align-items: center;">
      <button (click)="autentic ()" class="btn btn-danger" style="margin-top:10px; background-color: #1190cb ; border-color: #0000; border-radius: 35px; margin-bottom: 20px; margin-top: 20px;">Iniciar Sesión</button>
    </div>
  </form>
</div>
 <!-- Resources -->
</div>
