<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="http://localhost:4200/">
    <img
    width="40"
    alt="QuickParked Logo"
    src="https://raw.githubusercontent.com/dani09barreto/QuickParked/main/QuickParked/src/main/resources/org/devscite/Interface/View/img/logo_mini.png"
  />
  </a>

  <span>QuickParked</span>
  <div class="spacer"></div>
  <span>admin</span>
  <div class="spacer"></div>
  <div>

</div>
  <div class="spacer"></div>
  <span>-Daniel Barreto-Santiago Gutierrez-Jesús Traslaviña-</span>
</div>

<div style="margin-left: 10px; margin-top: 70px;">
  <div class="row row-cols-2" style="width: 100%;">
    <div class="col" style="width: 35%;">

      <div class="divInsertar">

        <app-insertar-vehiculo></app-insertar-vehiculo>





            <!-- <input [(ngModel)]="libro.nombre" name="nombre" type="text" class="form-control"> -->
       <!-- Resources -->
      </div>

    </div>
    <div class="col" style="width: 65%;">

      <div class="divLista">


        <app-tabla-vehiculos></app-tabla-vehiculos>



      </div>



    </div>
  </div>
</div>



