<div role="main" style="padding-left: 10px; padding-top:10px">

  <div class="tooldivTitulo" role="banner">
    <h5 style="margin-left: 10px;">Listado de Vehículos</h5>
  </div>

  <div>
    <form action="">
      <div class="form-group">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Vehículo</th>
              <th scope="col">Tipo Vehículo</th>
              <th scope="col">Placa</th>
              <th scope="col">Ingreso</th>
              <th scope="col">Tarifa</th>
              <th scope="col">Lugar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let vehiculo of vehiculos | paginate: {itemsPerPage: 7, currentPage: p}; let i = index">
              <th>{{vehiculo.id}}</th>
              <th>{{vehiculo.tipo}}</th>
              <th>{{vehiculo.placa}}</th>
              <th>{{vehiculo.ingreso}}</th>
              <th>{{vehiculo.tarifa}}</th>
              <th>{{vehiculo.lugar}}</th>

            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)= "p = $event"></pagination-controls>
      </div>
    </form>
  </div>
  <hr size="4px" width="100%" color="#1190cb">

  <div style="margin-left: 70%;">
    <button (click)="GenerarPago()"   class="btn" style="margin-top:10px; background-color: #1190cb ; border-color: #0000; border-radius: 35px; margin-bottom: 20px; margin-top: 20px; color: white;">Generar Pago</button>
  </div>
      <!-- <input [(ngModel)]="libro.nombre" name="nombre" type="text" class="form-control"> -->
 <!-- Resources -->
</div>

