<div style="margin-left: 10px; margin-top: 70px;">
  <div class="row row-cols-2" style="width: 100%;">
    <div class="col">

      <div class="divInsertar">

        <app-insertar-carro></app-insertar-carro>





            <!-- <input [(ngModel)]="libro.nombre" name="nombre" type="text" class="form-control"> -->
       <!-- Resources -->
      </div>

    </div>
    <div class="col">

      <div class="divLista">

        <app-tabla-vehiculos></app-tabla-vehiculos>



      </div>



    </div>
  </div>
</div>



