<div style="margin-left: 7%;">

  <img
    width="350"
    alt="QuickParked Logo"
    src="https://raw.githubusercontent.com/dani09barreto/QuickParked/main/QuickParked/src/main/resources/org/devscite/Interface/View/img/logo.png"
    />
    <p style="font-size: x-large; margin-left: 7%;">Ingresar Vehículo</p>

    <div class="form-check form-check-inline" style="margin-top: 4%; font-size:larger;margin-left: 10%;">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Carro</label>
    </div>
    <div class="form-check form-check-inline" style="margin-top: 4%; font-size:larger; margin-left: 20%;">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Moto</label>
    </div>

    <div style="margin-bottom: 4%; margin-top: 4%; margin-left: 7%;">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" (change)="changeTypeVehicle($event)">
          <option value="">Tipo Vehiculo</option>
          <option [value]="typevehicle.typevehicle" *ngFor="let typevehicle of typeVehicles">{{typevehicle.typevehicle}}</option>
        </select>
    </div>

    <div>
      <div class="row row-cols-2">
        <div class="col">
          <div>
            <input name="plateVehicle"type="text" class="form-control" style="border-radius: 35px; font-size: 12px;" [formControl] = "plateVehicle" placeholder="Digite Placa" >
            <small class="campo" *ngIf="plateVehicle.hasError('required') && plateVehicle.dirty">*campo requerido*</small>
              <div class="input-group-addon">
                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
          </div>
        </div>
        <div class="col">
          <div>
            <button (click)="addVehicle()" class="btn" style="color: white; width: 50%; background-color: #1190cb ; border-color: #0000; border-radius: 35px; margin-bottom: 20px; ">Insertar</button>
          </div>
        </div>
      </div>
    </div>

 </div>
